#mainmenu {
  width:300px;
  height:100vh;
  position:fixed;
  top:0px;
  left:-300px;
  z-index:99;
  transition:0.2s;
  background-image: url('../img/mnu bg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $nav-bg;
}

.showmenu {
  left:0px!important;
  transition:0.2s;
}

.movemaincontainer {
  margin-left:300px;
  transition:0.2s;
}

#mainmenu ul li {
  font-size: 14px;
  padding:10px;
  a {
   display: flex;
   align-items: center;
  }
  .icon {
   width: 20px;
   padding-right: 1rem;
  }
  p {
   width: 80%;
   color: #fff;
  }
  span {
   padding: .3rem .8rem;
   border-radius: 20px;
  }
  .trend {
   color: $pink;
   border: 1px solid $pink;
  }
  .people {
   color: $green;
   border: 1px solid $green;
  }
}

#mainmenu ul li:hover {
  background-color: darken($nav-bg,5%);
}

.search {
 padding: 20px 10px 20px;
 .search_str {
   font-size: 12px;
   width: 80%;
   padding: 10px 15px;
   color: #fff;
   background-color: darken($nav-bg,5%);
   border-radius: 30px;
   border: none;
   margin-right: 10px;
 }
 .search_btn {
  font-size: 20px;
  color: #fff;
  .fa {
   color: #fff;
   opacity: .4;
  }
 }
}

.user {
 padding-bottom: 20px;
 text-align: center;
 .user_avatar {
  position: relative;
  padding-bottom: 15px;
  .user_status {
   position: absolute;
   top:75%;
   right:23%;
   width: 30px;
   height: 30px;
  }
 }
 .user_photo {
  width: 150px;
  height: 150px;
  margin: 0 auto;
 }
 .user_name {
  color: $text-blue;
  font-weight: normal;
  font-size: 20px;
  padding: 0.2rem;
 }
 .user_prof {
  font-size: 14px;
  font-weight: normal;
  color: #fff;
  opacity: .4;
 }
}
